[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-cors = "*"
flask-login = "*"
flask-jwt-extended = "*"
gunicorn = "*"
psycopg2-binary = "*"
paho-mqtt = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
gunicorn = "gunicorn app:app"  # Replace "myapp:app" with your app module and callable
